.idea/
__pycache__/
*.pyc

# Logs and Metrics
src/log.txt
src/fl_metrics.json
src/client_threshold.json

# Generated Plots and Images
src/*.png

# Output Data
src/*.csv

# Trained Models (Heavy files)
src/*.npz
src/*.h5
src/*.joblib